<%- include("partials/head"); -%>
<!-- <%- include("partials/navbar"); -%> -->
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome Gamers!</h1>
      <p class="lead">Welcome to game <b> Rock-Paper-Scissor </b>.</p>
      <hr class="my-4">
      <p>to start, please login.</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      or
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </div>
  </div>

<%- include("partials/footer"); -%>

