<!DOCTYPE html>
<html>
  <%- include("../partials/head"); -%>
  <body>
    <%- include("../partials/navbar"); -%>
    <div class="container m-4">
      <h1>Halaman User</h1>
    </div>
  </body>
</html>
